# Rules in this file were initially inferred by Visual Studio IntelliCode from the D:\Downloads\subject - Copy\hki 2\ctdl gt\btnehihji\Doancuoikivss codebase based on best match to current usage at 4/15/2022
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

